# Swift Package Manager
.build/
Packages/
.swiftpm/
Package.resolved

# Xcode
build/
.swiftpm/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.ipa
*.pkg
*.log
*.xcodeproj/

# macOS
.DS_Store
*.swp
*~
